.box-image{
	background-color: $description-background;
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
  	.project-image{
		display: block;
		@include media($medium){
			width: 100%;
			height: auto;
		}
		@include media($short){
			width: 100%;
			height: auto;
		}
	}
}
.box-link:hover{
	.box-image__title{
		display: none;
	}
	.box-image__logo{
		display: inline-block;
		fill: white;
	}
	.homepage-image{
		filter: none;
	}
}
.homepage-image{
	filter: grayscale(100%) brightness(70%);
}
.box-image__overlay{
	position: absolute;
	text-align: center;
	top: calc(50% - 50px);
	left: 0;
	width: 100%;
	height: 100px;
	max-width: 100%;
	@include media($medium){
		width: 100%;
		height: 80px;
		top: calc(50% - 40px);
	}
	@include media($short){
		width: 100%;
		height: 80px;
		top: calc(50% - 40px);
	}
	@include media($small){
		width: 100%;
		height: 60px;
		top: calc(50% - 30px);
	}

}
.box-image__logo{
	height: 100%;
	width: 100%;
	display: none;
	// @include media($medium){
	// 	max-width: 200px;
	// 	height: auto;
	// }
	// @include media($small){
	// 	max-width: 140px;
	// 	height: auto;
	// }
	// @include media($extra-small){
	// 	max-width: 100px;
	// }
}
.box-image__title{
	white-space: nowrap;
	font-size: 32px;
	transition: font-size .5s;
	line-height: 100px;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 8px 3px 8px rgba(0,0,0, .9);
	@include media($medium){
		font-size: 24px;
		line-height: 80px;
	}
	@include media($short){
		font-size: 24px;
		line-height: 80px;
	}
	@include media($small){
		font-size: 12px;
		line-height: 60px;
	}
	@include media($extra-small){
		font-size: 12px;
	}
}
.box-image__date{
	font-size: .5em;
	font-weight: 300;
	position: relative;
	top: 10px;
	vertical-align: baseline;
	&.in-progress{
		left: 0;
		right: 0;
		position: absolute;
		text-transform: uppercase;
		top: 2em;
	}
}
.box-link{
	color: $project-heading;
	&:visited{
		color: $project-heading;
	}
}
.image-description{
//	background-color: $description-background;
	flex: 1;
	align-items: center;
	color: $description-text;
	display: flex;
	text-align: center;
	height: auto;
	padding: 5px 15px;
	font-size: 12px;
	transition-duration: .4s;
	transition-property: line-height, font-size;
	@include media($small){
		font-size: 10px;
		line-height: 1.4em;
	}
	p{
		width: 100%;
	}
}



