@keyframes logo-spin {
    0% {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logo-morph {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    }
    20% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    25% {
        clip-path: polygon(50% 50%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    35% {
        clip-path: polygon(30% 0%, 50% 50%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    40% {
        clip-path: polygon(30% 0%, 70% 0%, 50% 50%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    45% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 50% 50%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    50% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 50% 50%, 30% 100%, 0% 70%, 0% 30%);
    }
    55% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 50% 50%, 0% 70%, 0% 30%);
    }
    60% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 50% 50%, 0% 30%);
    }
    65% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 50% 50%);
    }
    70% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    }
}
