//Site Colors
$black: #000;
$plantation: #25474B;
$white: #fff;
$shadow-green: #9DC8BF;
$up-yellow: #F7D546;
$dark-gray: #353535;
$light-gray: #7A7A7A;

//Color Usage
$footer-text: $shadow-green;
$email-link: $white;
$project-heading: $white;
$project-body: $black;
$page-background: $black;
$footer-background: $plantation;
$description-text: $light-gray;
$description-background: $dark-gray;
$category-background: $light-gray;
$category-secondary-background: $dark-gray;