
::selection {
    color: black;
    background: $up-yellow;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

body {
    background: $page-background;
    margin: 0;
    padding-bottom: 30px;
    @include body-type;
    @include media($medium){
        padding-bottom: 65px;
    }
    @include media($small){
        padding-bottom: 30px;
    }
    @include media($extra-short){
        padding-bottom: 40px;
    }
}

.wrapper {
    width: $medium-width;
    @include media($medium) {
        width: 96%;
    }
    @include media($short) {
        width: $small-width;
    }
    @include media($extra-short) {
        max-width: 520px;
    }
    @include media($small) {
        width: 98%;
    }
    @include media($extra-small) {
        width: 98%;
    }
}

.wrapper--site {
    font-size: 0;
    margin: 100px auto 0;
    //transition: margin .5s, width .5s;
    @include media($medium) {
        max-width: 98%;
        margin-top: 60px;
    }
    @include media($short) {
        max-width: 600px;
        width: 98%;
        margin-top: 40px;
    }
    @include media($extra-short) {
        max-width: 520px;
    }
    @include media($small) {
        margin-top: 40px;
        width: auto;
        max-width: 98%;
    }
    @include media($extra-small) {
        margin-top: 20px;
    }
}