//Custom Flex grid. by Joseph Curley.

.row{
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 10px;
	@include media($medium){
		margin-bottom: 8px;
	}
	@include media($short){
		margin-bottom: 8px;
	}
	@include media($small){	
		margin-bottom: 5px;
	}
	& > .box{
		margin-left: 10px;
		@include media($medium){
			margin-left: 8px;
		}
		@include media($small){
			margin-left: 5px;
		}
	 	 &:first-child{
			margin-left: 0;
	  	}
	}
}
.column{
	//display: flex;
 	//flex-flow: column wrap;
	//align-items: flex-center;
 	.box{
		margin-top: 10px;
		@include media($medium){
			margin-top: 3%;
		}
		@include media($short){
			margin-top: 3%;
		}
		@include media($small){
			margin-top: 3%;
		}
		&:first-child{
	  		margin-top: 0;
		}

  	}
}
.box {
	flex: 1 auto;
	color: white;
	font-size: 0;
}

.box--two {
	flex: 1 280px;
}

.box--three {
	flex: 1 610px;
}

.box--four {
	flex: 1 375px;
}

.box--five {
	flex: 1 515px;
}

.box--six {
	flex: 1 550px;
}

.box--seven {
	flex: 1 340px;
}

.box--eight {
	flex: 1 300px;
}

.box--nine {
	flex: 1 590px;
}

.box--ten {
	flex: 1 600px;
}

.box--eleven {
	flex: 1 290px;
}
.box--half {
	flex: 1 445;
	margin-left: 10px;
	&:first-child{
	  margin-left: 0;
	}
	@include media($medium){
		margin-left: 8px;
	}
	@include media($short){
		margin-left: 8px;
	}

	@include media($small){
		margin-left: 5px;
	}
	img{
		max-width: 445px;
	}
}

.box--full {
	flex: 1 100%;
}