@include font-face("museo-sans", "../fonts/museosans_500-webfont-webfont", 500);
@include font-face("museo-sans", "../fonts/museosans_700-webfont-webfont", 700);

@mixin body-type {
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	letter-spacing: .1em;
	line-height: 1em;
}

@mixin condensed {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: auto;
	line-height: auto;
}