$medium-width: 900px;
$small-width: 600px;
$extra-small-width: 360px;
$medium: new-breakpoint(max-width $medium-width);
$small: new-breakpoint(max-width $small-width);
$extra-small: new-breakpoint(max-width $extra-small-width);

//Height;
$short: new-breakpoint(max-height 830px);
$extra-short: new-breakpoint(max-height 630px);
