//Site Colors
$black: #000;
$plantation: #25474B;
$white: #fff;
$shadow-green: #9DC8BF;
$up-yellow: #F7D546;

//Color Usage
$footer-text: $shadow-green;
$email-link: $white;
$project-heading: $white;
$project-body: $black;
$page-background: $black;
$footer-background: $plantation;