body{
	background: $page-background;
}
.wrapper{
	width: 900px;
	font-size: 0;
	margin: 100px auto 0;
	transition: margin .5s;
	transition: width .5s;
	@include media($medium) {
		max-width: 98%;
		width: 600px;
		margin-top: 60px;
	}
	@include media($small) {
		margin-top: 40px;
		width: 400px;
	}
	@include media($extra-small) {
		margin-top: 20px;
		width: 98%;
	}
}
.logo{
	height: 272px;
	width: 272px;
	background: $up-yellow;
	display: block;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	position: fixed;
	top: -20px;
	left: -20px;
	border: 10px solid $black;
	text-align: center;
	line-height: 272px;
	font-size: 0;
	z-index: 9;
	transition: all .5s;
	@include media($medium){
		height: 160px;
		width: 160px;
		border: 6px solid $black;
		top: -10px;
		left: -10px;
	}
	@include media($small) {
		height: 80px;
		width: 80px;
		top: -5px;
		left: -5px;
		line-height: 120px;
		border: 3px solid $black;
	}
}